<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{fragments/layout}">

  <head>
	  <meta name="description" content=""/>
	  <meta name="author" content=""/>
	  <title>Index</title>
  </head>

  <body>
	  <!-- Page Content -->
	  <div layout:fragment="content" th:remove="tag">
		  <div id="page-wrapper">
			  <div class="row ">
				  <div class="col-lg-8 col-lg-offset-2">
					  <div class="panel panel-default">
						  <div class="panel-heading">
							  <h3 class="text-center">Список юзеров</h3>
						  </div>
						  <!-- /.panel-heading -->
						  <div class="panel-body justify-content-center">
							  <div class="table-responsive">
								  <table class="table table-striped table-bordered table-hover">
									  <thead>
									  <tr>
										  <th>ID</th>
										  <th>Имя</th>
										  <th>Фамилия</th>

									  </tr>
									  </thead>
									  <tbody>
									  <tr th:if="${users != null}" th:each="user: ${users}">
										  <th th:text="${user.userID}"></th>
										  <th th:text="${user.firstName}"></th>
										  <th th:text="${user.lastName}"></th>

										  <td><a class="btn btn-sm btn-warning btn-block" th:href="@{'/users/' + ${user.userID} + '/view'}">Смотреть</a></td>
										  <td><a class="btn btn-sm btn-warning btn-block" th:href="@{'/users/' + ${user.userID} + '/edit'}">Редактировать</a></td>
										  <td><a class="btn btn-sm btn-danger btn-block" th:href="@{'/users/'  + ${user.userID} + '/delete'}">Удалить</a></td>
									  </tr>
									  </tbody>
								  </table>
								  <a class="btn btn-bg btn-success btn-block" th:href="@{'/users/create'}">Создать</a>
							  </div>
						  </div>
						  <!-- /.panel-body -->
					  </div>
					  <!-- /.panel -->
				  </div>
				  <div class="col-lg-8 col-lg-offset-2">
					  <div th:if="${message}">
						  <h2 th:text="${message}"/>
					  </div>

					  <div>
						  <form method="POST" enctype="multipart/form-data" th:action="@{'/users/' + 0 + '/avatars'}">
							  <table>
								  <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
								  <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
							  </table>
						  </form>
					  </div>
					  <table>
						  <thead>
						  <tr>
							  <th>ID</th>
							  <th>File name</th>
							  <th>File uploaded by user ID</th>
							  <th>Path</th>
							  <th>URI</th>
						  </tr>
						  </thead>
						  <tbody>
						  <tr th:if="${avatars != null}" th:each="avatar: ${avatars}">
							  <th th:text="${avatar.avatarID}"></th>
							  <th th:text="${avatar.avatarName}"></th>
							  <th th:text="${avatar.uploadedByUserID}"></th>
							  <th th:text="${avatar.avatarPath}"></th>
							  <th th:text="${avatar.avatarUri}"></th>
						  </tr>
						  </tbody>
					  </table>
				  </div>
			  </div>
		  </div>
	  </div>
  </body>
</html>