<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{fragments/layout}">

  <head>
	  <meta name="description" content=""/>
	  <meta name="author" content=""/>
	  <title>Index</title>

	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>

  <body>
		  <div class="container fluid">
			  <div class="row ">
				  <div class="col-lg-8 col-lg-offset-2">
					  <div class="panel panel-default">
						  <div class="panel-heading">
							  <h3 class="text-center">Список юзеров</h3>
						  </div>
						  <!-- /.panel-heading -->
						  <div class="panel-body justify-content-center">
							  <div class="table-responsive">
								  <table class="table table-striped table-bordered table-hover">
									  <thead>
									  <tr>
										  <th>ID</th>
										  <th>Имя</th>
										  <th>Фамилия</th>
										  <th colspan="3"></th>
									  </tr>
									  </thead>
									  <tbody>
									  <tr th:if="${users != null}" th:each="user: ${users}">
										  <th th:text="${user.userID}"></th>
										  <th th:text="${user.firstName}"></th>
										  <th th:text="${user.lastName}"></th>

										  <td><a class="btn btn-sm btn-warning btn-block" th:href="@{'/users/' + ${user.userID} + '/view'}">Смотреть</a></td>
										  <td><a class="btn btn-sm btn-warning btn-block" th:href="@{'/users/' + ${user.userID} + '/edit'}">Редактировать</a></td>
										  <td><a class="btn btn-sm btn-danger btn-block" th:href="@{'/users/'  + ${user.userID} + '/delete'}">Удалить</a></td>
									  </tr>
									  </tbody>
								  </table>
								  <a class="btn btn-bg btn-success btn-block" th:href="@{'/users/create'}">Создать</a>
							  </div>
						  </div>
						  <!-- /.panel-body -->
					  </div>
					  <!-- /.panel -->
				  </div>
				  <div class="col-lg-8 col-lg-offset-2">
					  <div th:if="${message}">
						  <h2 th:text="${message}"/>
					  </div>

					  <div>
						  <form  method="POST" enctype="multipart/form-data" th:action="@{'/users/avatars'}">
							  <div class="form-group">
								  <input name="userID" th:value="${'0'}" th:attr="hidden='hidden text'" >
							  </div>
							  <div class="form-group">
								  <input type="file" name="file" />
							  </div>
							  <div class="form-group">
								  <input type="submit" value="Upload" />
							  </div>
						  </form>
					  </div>
					  <table>
						  <thead>
						  <tr>
							  <th>ID</th>
							  <th>File name</th>
							  <th>File uploaded by user ID</th>
							  <th>URI</th>
							  <th colspan="1"></th>
						  </tr>
						  </thead>
						  <tbody>
						  <tr th:if="${avatars != null}" th:each="avatar: ${avatars}">
							  <td th:text="${avatar.avatarID}"></td>
							  <td th:text="${avatar.avatarName}"></td>
							  <td th:text="${avatar.uploadedByUserID}"></td>
							  <td>
								  <img th:src="@{${avatar.avatarUri}}" title="" style="width: 75px; height: 75px;" />
							  </td>
							  <td>
								  <a class="btn btn-bg btn-success btn-block" th:href="@{'users/' + ${avatar.uploadedByUserID} + '/avatars/' + ${avatar.avatarID} + '/delete'}">Delete</a>
							  </td>
						  </tr>
						  </tbody>
					  </table>
				  </div>
			  </div>
		  </div>
	  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>